@import "../../styles/constants.scss";

.app {
  &_block {
    &_aboutUs {
      padding: 20px 0 60px;
      background: $backgroun-main;
      text-align: center;
      overflow: hidden;

      &_text {
        color: white;
        font-size: 24px;
        padding: 0 40px;
        margin-bottom: 60px;

        @media (max-width: 800px) {
          font-size: 16px;
        }
      }
    }
  }
}

.aboutUs {
  &_wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  &_slider_ministry {
    min-height: 900px;
    position: relative;

    @media (max-width: 800px) {
      min-height: 600px;
    }
  }
}
