.app {
  &_slider {
    width: 100%;

    &_wrapper {
      position: relative;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }
}

.slider {
  &_slide {
    position: absolute;
    left: 50%;
    min-width: 40%; // to do not conflict with clicable area

    transition: opacity 0.4s, z-index 0.4s, transform 0.4s;
    border-radius: 10px;
  }
}
