.app {
  &_slider {
    position: relative;
    height: 600px;
    width: 350px;
    margin: auto;

    @media (min-width: 800px) {
      height: 900px;
      width: 500px;
    }
  }
}

.slider {
  &_slide {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s, z-index 0.4s, transform 0.4s;
    border-radius: 10px;
  }
}
