.socialBage {
  display: grid;
  justify-items: center;
  align-content: center;
  cursor: pointer;
  height: min-content;
  width: min-content;
  padding: 10px 15px 5px 15px;
  margin: 5px;
  border-radius: 10px;
  min-width: 60px;
  text-decoration: none;

  @media (max-width: 00px) {
    padding: 5px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset -2px -2px 2px 1px rgba(255, 255, 255, 0.03),
      inset 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  }

  &_text {
    color: rgba(255, 255, 255, 0.7);
    margin: 5px 0;
    white-space: nowrap;
    font-size: 12px;

    @media (max-width: 600px) {
      font-size: 10px;
    }
  }
}
